
{{> nav_bar url="about.html" }}


<div class="content">
    <article class="">
        <h2>Authors</h2>
        <div class="img_container">
            <img class="authors" src="/images/authors.png" alt="Authors">
            <p>Left: Qingqi Shi. Right: Muyu Yang.</p>
        </div>
    </article>

</div>


{{> log_in url="about.html" }}

{{> footer }}
