
{{> nav_bar url="browse.html" }}

{{> log_in url="browse.html" }}

<div class="content">
    <a class="game_card" href="game.html?game_id=1">
        <div class="image">
            <img src="http://placehold.it/350x350?text=Place+Holder" alt="Thumbnail">
        </div>
        <div class="words">
            <h2 class="game_name">The very cool game</h2>
            <article class="game_description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </article>
        </div>
    </a>

    <a class="game_card" href="game.html?game_id=1">
        <div class="image">
            <img src="http://placehold.it/350x350?text=Place+Holder" alt="Thumbnail">
        </div>
        <div class="words">
            <h2 class="game_name">Another very cool game</h2>
            <article class="game_description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </article>
        </div>
    </a>
</div>

{{> footer }}
