
{{> nav_bar url="browse.html" }}

{{> log_in url="browse.html" }}

<div class="content">
    <a class="game_card" href="game.html?game_id=1">
        <div class="meta">
            #<span class="id">1</span> Date: <span class="date">17 May 2017</span> Created by: <span class="play_num">ukstone</span>
        </div>
        <div class="image">
            <img src="http://placehold.it/350x350?text=Place+Holder" alt="Thumbnail">
        </div>
        <div class="words">
            <article class="game_description">
                <h2 class="game_name">The very cool game</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </article>
        </div>
    </a>

    <a class="game_card" href="game.html?game_id=2">
        <div class="meta">
            #<span class="id">2</span> Date: <span class="date">17 May 2017</span> Created by: <span class="play_num">qingqishi</span>
        </div>
        <div class="image">
            <img src="http://placehold.it/350x350?text=Place+Holder" alt="Thumbnail">
        </div>
        <div class="words">
            <article class="game_description">
                <h2 class="game_name">Another very cool game</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </article>
        </div>
    </a>
</div>

{{> footer }}
