{{#extend "scripts"}}
<script src="/javascripts/game_of_life.js"></script>
{{!-- Add more scripts here --}}

{{/extend}}

{{> nav_bar url="game.html" }}

<div class="content">

    <div id="container">

        <div id="top-content">
            <h2>Game</h2>
            <p>Generation counter: <span id="counter">0</span></p>
            <canvas id="game_canvas" width="800" height="400"></canvas>
        </div>
        <div id="bottom-content">
            <h2>Controls</h2>
            <a id="start" href="javascript:void(0)">Start</a><br />
            <a id="stop" href="javascript:void(0)">Stop</a><br />
            <a id="zoomin" href="javascript:void(0)">Zoom in</a>
            <a id="zoomout" href="javascript:void(0)">Zoom out</a><br />
            <a id="clearLink" href="javascript:void(0)">Clear Grid</a>
            <a id="speedup" href="javascript:void(0)">Speed up</a>
            <a id="speeddown" href="javascript:void(0)">Speed down</a><br />
            <input id = "speed" type ="range" min = "10" max = "500" step = "49" value = 50>
            <br />
            <br />
            {{#if user_name}}
            <a href="#">Save</a>
            {{else}}
            <p>Like what you've done? Why not Sign in to save it.</p>
            {{/if}}
        </div>

    </div>

</div>


{{> log_in url="game.html" }}

{{> footer }}
