{{#extend "scripts"}}
<script src="/javascripts/game_of_life.js"></script>
<script src="/javascripts/save_load.js"></script>
{{/extend}}

{{> nav_bar url="game.html" }}

<div class="content">
    <p>Generation counter: <span id="counter">0</span></p>

    <div class="on_canvas_controls">
        <canvas id="game_canvas" width="800" height="400"></canvas>
        <a id="start" href="javascript:void(0)">▶</a>
        <a id="stop" href="javascript:void(0)">■</a>
        <a id="zoomin" href="javascript:void(0)">+</a>
        <a id="zoomout" href="javascript:void(0)">-</a>
        <a id="clearLink" href="javascript:void(0)">Clear Grid</a>
        <a id="speeddown" href="javascript:void(0)">⇇</a>
        <input id = "speed" type ="range" min = "10" max = "500" step = "49" value = 50>
        <a id="speedup" href="javascript:void(0)">⇉</a>
        <a id="save" href="javascript:void(0)">Save</a>
        <a id="load" href="javascript:void(0)">Load</a>
    </div>


    <div class="game_info">
        <div class="save_message">
            {{#if user_name}}
            <p><a class="publish" href="#">Publish</a> so everyone can see!</p>
            {{else}}
            <p>Like what you've done? Why not <a class="sign_in" href="#">Sign in</a> to publish it.</p>
            {{/if}}
        </div>
        <div class="game_rules">

        </div>
    </div>
</div>


{{> log_in url="game.html" }}

{{> footer }}
