{{#extend "scripts"}}
<script src="/javascripts/game_of_life.js"></script>
{{!-- Add more scripts here --}}

{{/extend}}

{{> nav_bar url="game.html" }}

{{> log_in url="game.html" }}

<div class="content">
    <p>Notes to Muyu:</p>

    <ul>

        <li><p>Currently included script file (use it): <code>express/public/javascripts/game_of_life.js</code></p></li>

        <li><p>To add more scripts, add them to <code>express/public/javascripts/</code> and don't forget to include them to the top of: <code>express/views/game.hbs</code></p></li>

        <li><p>Below is a <code>canvas</code> tag (with <code>id="game_canvas"</code>) with some basic attributes and styles, fell free to change them. You can change the styles at: <code>express/public/stylesheets/style.css</code>.</p></li>

    </ul>

    <div id="container">

        <div id="top-content">
            <h2>Game</h2>
            <p>Generation counter: <span id="counter">0</span></p>
            <canvas id="game_canvas" width="800" height="400"></canvas>
        </div>
        <div id="bottom-content">
            <h2>Controls</h2>
            <a id="start" href="javascript:void(0)">Start</a><br />
            <a id="stop" href="javascript:void(0)">Stop</a><br />
            <a id="zoomin" href="javascript:void(0)">Zoom in</a>
            <a id="zoomout" href="javascript:void(0)">Zoom out</a><br />
            <a id="clearLink" href="javascript:void(0)">Clear Grid</a>
            <br />
            <br />
        </div>

    </div>

</div>


{{> footer }}
