<div id="site_name"><h1>Game of Life - Home</h1></div>

<nav id="main_nav">
    <a href="/index.html">Home</a> |
    <a href="/game.html">Game</a> |
    <a href="/browse.html">Browse</a> |
    <a href="/about.html">About</a>
</nav>

<div class="start_btn"><a href="/game.html">Start</a></div>

<article class="article_intro">
    <h2>What is the Game of Life?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem autem impedit quaerat cumque dicta eligendi consequatur quos modi, doloribus cum praesentium repudiandae, a sapiente illum veritatis eius itaque reiciendis earum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut numquam repudiandae, quo blanditiis illum velit nihil fugiat, quibusdam dolor accusamus obcaecati molestiae veniam illo hic tempora debitis officia maxime. Nisi?</p>
</article>

<article class="article_creator">
    <h2>Who created it?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem autem impedit quaerat cumque dicta eligendi consequatur quos modi, doloribus cum praesentium repudiandae, a sapiente illum veritatis eius itaque reiciendis earum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut numquam repudiandae, quo blanditiis illum velit nihil fugiat, quibusdam dolor accusamus obcaecati molestiae veniam illo hic tempora debitis officia maxime. Nisi?</p>
</article>

<article class="article_principles">
    <h2>How does it work?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem autem impedit quaerat cumque dicta eligendi consequatur quos modi, doloribus cum praesentium repudiandae, a sapiente illum veritatis eius itaque reiciendis earum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut numquam repudiandae, quo blanditiis illum velit nihil fugiat, quibusdam dolor accusamus obcaecati molestiae veniam illo hic tempora debitis officia maxime. Nisi?</p>
</article>

<footer>
    <p>Created by Qingqi Shi and Muyu Yang</p>
</footer>
