
{{> nav_bar url="index.html" }}

<div class="intro_section">
    <div class="words">
        <h1 class="site_name">Game of Life</h1>
        <p>A zero-player game, created by John Conway, experience evolution in 2D.</p>
        <a href="/game.html">PLAY</a>
    </div>
    <!-- <div class="video">
        <div class="video_wrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/E8kUJL04ELA" frameborder="0" allowfullscreen></iframe>
        </div>
    </div> -->
</div>

<div class="content">
    <article class="article_intro">
        <h2>What is it?</h2>
        <p>The Game of Life is not your typical computer game. The "game" is a zero-player game, meaning that the game evolves according to its initial state, requiring no further input. The Game of Life shows how a few simple rules can result in a world with unexpected complexity.</p>
    </article>

    <article class="article_creator">
        <h2>Who created it?</h2>
        <p>The Game of Life was invented by the Cambridge mathematician John Conway. This game became widely known when it was mentioned in an <a href="http://ddi.cs.uni-potsdam.de/HyFISCH/Produzieren/lis_projekt/proj_gamelife/ConwayScientificAmerican.htm">article</a> published by Scientific American in 1970.</p>
    </article>

    <article class="article_principles">
        <h2>How does it work?</h2>
        <p>The universe of the Game of Life is an infinite two-dimensional orthogonal grid of square cells, each of which is in one of two possible states, alive or dead, or "populated" or "unpopulated". Every cell interacts with its eight neighbours, which are the cells that are horizontally, vertically, or diagonally adjacent. At each step in time, the following transitions occur:</p>
        <ol>
            <li>Any live cell with fewer than two live neighbours dies, as if caused by underpopulation.</li>
            <li>Any live cell with two or three live neighbours lives on to the next generation.</li>
            <li>Any live cell with more than three live neighbours dies, as if by overpopulation.</li>
            <li>Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.</li>
        </ol>
    </article>
</div>


{{> log_in url="index.html" }}

{{> footer }}
