body {
    margin: 0;
    padding: 0;
    font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#game_canvas {
    background-color: #ddd;
}

/* Main nav bar */
#main_nav {
    height: 3.5rem;
    text-align: right;
    background-color: #000;
    color: #fff;
    padding: 0 5rem 0 5rem;
}

#main_nav a {
    display: inline-block;
    line-height: 3.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: #fff;
}

#main_nav a:hover {
    background-color: #fff;
    color: #000;
}

#main_nav .site_name {
    float: left;
    line-height: 3.5rem;
    font-weight: bold;
}

#main_nav span {
    float: left;
    display: inline-block;
    line-height: 3.5rem;
    margin-left: 1rem;
}

#user_sign_in_btn, #user_sign_up_btn {
    float: left;
    display: inline-block;
    line-height: 3.5rem;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#user_sign_in_btn:hover, #user_sign_up_btn:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.user_signed_in {
    float: left;
    display: inline-block;
    line-height: 3.5rem;
    margin-left: 1rem;
}

/* Start button */
.start_btn {
    height: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    background: #481a72;
}

.start_btn a {
    font-size: 2.8rem;
    line-height: 3rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1.5rem;
    background-color: #fff;
    color: #481a72;
    text-decoration: none;
}

/* Footer */
footer {
    text-align: center;
    background-color: #ccc;
    color: #fff;
    padding: 1rem;
}

footer p {
    margin: 0;
    padding: 0;
}

/* Content */
.content {
    width: 60%;
    margin: 0 auto 0 auto;
    padding: 3rem 0 3rem 0;
}

.multi_column {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

/* Sing in pop up */
.back_drop {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.sign_in_pop_up, .sign_up_pop_up {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 16rem;
    height: 18rem;
    margin-left: -10rem;
    margin-top: -9rem;
    background-color: #fff;
    box-shadow: 0 0 5rem #000;
    display: table;
    border-collapse: separate;
    border-spacing: 1rem;
    text-align: center;
}

.sign_in_pop_up .close, .sign_up_pop_up .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem;
    line-height: 1rem;
    width: 1rem;
    text-align: center;
}

.sign_in_pop_up .close:hover, .sign_up_pop_up .close:hover {
    cursor: pointer;
    background-color: #481a72;
    color: #fff;
}

.sign_in_fail, .sign_up_fail {
    padding: 1rem;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.35);
    color: red;
}

.sign_in_success {
    padding: 1rem;
    border: 1px solid green;
    background-color: rgba(0, 255, 0, 0.35);
    color: green;
}

.sign_in_pop_up form, .sign_up_pop_up form {
    text-align: center;
}

.sign_in_pop_up .row, .sign_up_pop_up .row {
    display: table-row;
    width: 100%;
}

.sign_in_pop_up .row label, .sign_up_pop_up .row label {
    display: table-cell;
}

.sign_in_pop_up .row input, .sign_up_pop_up .row input {
    display: table-cell;
    margin-left: 0.5rem;
}

input.btn {
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #fff;
    background-color: #481a72;
    border: 0;
    border-radius: 0.3rem;
    line-height: 1rem;
    font-size: 0.7rem;
}

input.btn:hover {
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #fff;
    background-color: #000;
    border: 0;
    cursor: pointer;
}

.sign_in_pop_up .sign_up_message {
    margin-top: 2rem;
}

.hide {
    display: none;
    visibility: hidden;
}
