body {
    margin: 0;
    padding: 0;
    font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #222;
}

h2 {
    font-size: 1.8rem;
    color: #222;
    font-weight: 300;
}

p, a, span, div, li {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 2rem;
}

#game_canvas {
    background-color: #f6f6f6;
    margin: 0 auto 0 auto;
    box-shadow: 0 0.2rem 2rem #ddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#loaded_data {
    display: none;
}

.generation_counter {
    display: none;
}

.game_rules {
    margin-top: 5rem;
}

/* Main nav bar */
#main_nav {
    height: 3.5rem;
    padding: 0 5rem 0 5rem;
    text-align: right;
    background-color: #222;
    color: #fff;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
}

#main_nav a {
    display: inline-block;
    line-height: 3.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#main_nav a:hover {
    background-color: #444;
}

#main_nav .site_name {
    font-family: 'Lato', sans-serif;
    float: left;
    line-height: 3.3rem;
    padding-bottom: 0.2rem;
    font-size: 1rem;
    font-weight: 700;
}

#main_nav span {
    float: left;
    display: inline-block;
    line-height: 3.5rem;
    margin-left: 0.2rem;
}

#user_sign_in_btn, #user_sign_up_btn {
    float: left;
    display: inline-block;
    line-height: 3.5rem;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#user_sign_up_btn {
    margin-left: 0.2rem;
}

#user_sign_in_btn:hover, #user_sign_up_btn:hover {
    background-color: #444;
    cursor: pointer;
}

.user_signed_in {
    float: left;
    display: inline-block;
    line-height: 3.5rem;
    margin-left: 1rem;
}

/* Start button */
.intro_section {
    padding: 5rem 20% 3rem 20%;
    background: #f6f6f6;
}

.intro_section .words {
    width: 100%;
}

.intro_section .words .site_name {
    font-size: 5rem;
    font-weight: 300;
    color: #0e83cd;
}

.intro_section .words p {
    font-size: 2rem;
    font-weight: 100;
    color: #222;
    line-height: 3rem;
}

.intro_section .words a {
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 1rem;
    line-height: 2rem;
    text-decoration: none;
    border: 0.1rem solid #0e83cd;
    border-radius: 0.5rem;
    color: #0e83cd;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.intro_section .words a:hover {
    background: #0e83cd;
    color: #fff;
}

/* Footer */
footer {
    text-align: center;
    background-color: #ccc;
    color: #fff;
    padding: 1rem;
}

footer p {
    margin: 0;
    padding: 0;
}

/* Content */
.content {
    width: 60%;
    margin: 0 auto 0 auto;
    padding: 5rem 0 3rem 0;
}

.content h2 {
    font-size: 2rem;
}

.content p, .content li {
    font-size: 1.3rem;
}

.content article {
    padding-bottom: 3rem;
}

.multi_column {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

/* Sing in pop up */
.back_drop {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 200;
}

.sign_in_pop_up, .sign_up_pop_up, .publish_pop_up {
    position: fixed;
    width: 26rem;
    margin-left: -13rem;
    top: 20%;
    left: 50%;
    background-color: #fff;
    box-shadow: 0 0 5rem #000;
    text-align: center;
}

.sign_in_pop_up {
    width: 22rem;
    margin-left: -11rem;
}

.publish_pop_up {
    width: 30rem;
    margin-left: -15rem;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem;
    line-height: 1rem;
    width: 1rem;
    text-align: center;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.close:hover {
    cursor: pointer;
    background-color: #0e83cd;
    color: #fff;
}

.sign_in_fail, .sign_up_fail, .publish_fail {
    padding: 1rem;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.35);
    color: red;
}

.sign_in_success {
    padding: 1rem;
    border: 1px solid green;
    background-color: rgba(0, 255, 0, 0.35);
    color: green;
}

.sign_in_pop_up form, .sign_up_pop_up form, .publish_pop_up form {
    text-align: center;
    padding: 2rem;
}

.sign_in_pop_up .row, .sign_up_pop_up .row, .publish_pop_up .row {
    width: 100%;
    margin-bottom: 2rem;
}

.sign_in_pop_up .row:after, .sign_up_pop_up .row:after, .publish_pop_up .row:after {
    content: "";
    display: table;
    clear: both;
}

.sign_in_pop_up .row label, .sign_up_pop_up .row label, .publish_pop_up .row label {
    display: block;
    width: 35%;
    float: left;
    text-align: left;
    line-height: 1.2rem;
}

.sign_in_pop_up .row input,
.sign_up_pop_up .row input,
.publish_pop_up .row input,
.publish_pop_up .row textarea {
    -webkit-appearance: none;
    display: block;
    padding: 0.2rem;
    margin: 0;
    margin-left: 5%;
    width: 57%;
    float: right;
    border: 1px solid #0e83cd;
    border-radius: 0;
}

.publish_pop_up .row textarea {
    height: 5rem;
}

input.btn {
    -webkit-appearance: none;
    padding: 0.3rem 1rem 0.3rem 1rem;
    font-size: 1rem;
    line-height: 2rem;
    text-decoration: none;
    border: 0.1rem solid #0e83cd;
    border-radius: 0.5rem;
    color: #0e83cd;
    background-color: #fff;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

input.btn:hover {
    color: #fff;
    background-color: #0e83cd;
}

.sign_in_pop_up .sign_up_message {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hide {
    display: none;
    visibility: hidden;
}

/* Game cards */
.game_card {
    position: relative;
    display: block;
    background: #f6f6f6;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    color: #222;
    text-decoration: none;
    box-shadow: 0 0.1rem 0.5rem #ddd;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.game_card:hover {
    box-shadow: 0 0.3rem 1.5rem #ddd;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.game_card:after {
    content: "";
    display: table;
    clear: both;
}

.game_card .meta {
    position: absolute;
    bottom: 0.5rem;
    right: 0;
    color: #999;
}

.game_card .meta span {
    margin-right: 2rem;
}

.game_card .image {
    width: 32%;
    float: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.game_card .image img {
    width: 100%;
}

.game_card .words {
    width: 63%;
    margin-left: 5%;
    float: right;
}

.game_card .words article {
    padding-bottom: 0;
}

/* Game page sign in */
.game_info .sign_in, .game_info .publish {
    padding: 0.3rem 1rem 0.3rem 1rem;
    font-size: 1rem;
    line-height: 2rem;
    text-decoration: none;
    border: 0.1rem solid #0e83cd;
    border-radius: 0.5rem;
    color: #0e83cd;
    background-color: #fff;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.game_info .sign_in:hover, .game_info .publish:hover {
    color: #fff;
    background-color: #0e83cd;
}

/* Canvas controls */
.on_canvas_controls {
    position: relative;
    width: 100%;
    height: 70vh;
}

.active {
    color: #0e83cd !important;
}

#start, #stop, #clearLink {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    font-size: 1.5rem;
    color: #222;
    text-decoration: none;
}

#stop {
    left: 3rem;
}

#clearLink {
    left: 5.2rem;
}

#zoomin, #zoomout, #zoom, #speeddown, #speed, #speedup {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #222;
    text-decoration: none;
}

#zoom {
    right: 3rem;
    width: 5rem;
}

#zoomout {
    right: 9rem;
}

#speedup {
    right: 13rem;
}

#speed {
    right: 15rem;
    width: 5rem;
}

#speeddown {
    right: 21rem;
}

#save, #load {
    position: absolute;
    display: none;
}

/* Browse */
h2.empty {
    text-align: center;
}


/* Media queries */
@media (max-width: 1024px) {
  .content {
      width: 80%;
  }

  .intro_section {
      padding: 5rem 10% 3rem 10%;
  }
}
