<div class="back_drop hide">
    <div class="sign_in_pop_up hide">
        <div class="close">x</div>
        <h2>Sign In</h2>
        <div class="sign_in_fail hide">

        </div>
        <div class="sign_in_success hide">

        </div>
        <form action="/signin.html" method="post">
            <div class="row">
                <label for="sign_in_user_name">Username</label> <input id="sign_in_user_name" type="text" name="user_name">
            </div>
            <div class="row">
                <label for="sign_in_password">Password</label> <input id="sign_in_password" type="password" name="password">
            </div>
            <input type="hidden" name="url" value="{{url}}">
            <input class="btn" type="submit" value="Sign In">
        </form>
        <div class="sign_up_message">
            Or <a href="#">sign up</a> to create a new account.
        </div>
    </div>

    <div class="sign_up_pop_up hide">
        <div class="close">x</div>
        <h2>Sign Up</h2>
        <div class="sign_up_fail hide">
            Test
        </div>
        <form action="/signup.html" method="post">
            <div class="row">
                <label for="sign_up_user_name">Username</label> <input id="sign_up_user_name" type="text" name="user_name">
            </div>
            <div class="row">
                <label for="sign_up_password">Password</label> <input id="sign_up_password" type="password" name="password">
            </div>
            <div class="row">
                <label for="repeat_password">Repeat password</label> <input id="repeat_password" type="password" name="repeat_password">
            </div>
            <input type="hidden" name="url" value="{{url}}">
            <input class="btn" type="submit" value="Sign Up">
        </form>
    </div>
</div>
