<nav id="main_nav">
    <a class="site_home" href="/">
        <img src="/images/logo_white.svg" alt="" class="site_logo">
        <div class="site_name">Game of Life</div>
    </a>
    {{#if user_name}}
    <div class="user_signed_in">
        Hi, {{user_name}} <a href="signout.html?url={{url}}">Sign Out</a>
    </div>
    {{else}}
    <div id="user_sign_in_btn">Sign in</div> <span>or</span> <div id="user_sign_up_btn">Sign up</div>
    {{/if}}
    <a href="/">Home</a>
    <a href="/game.html">Game</a>
    <a href="/browse.html">Browse</a>
    <a href="/about.html">About</a>
</nav>
