<nav id="main_nav">
    <div class="site_name">
        Game of Life
    </div>
    <a href="/">Home</a> |
    <a href="/game.html">Game</a> |
    <a href="/browse.html">Browse</a> |
    <a href="/about.html">About</a>
</nav>
